p code {
    background-color: #ecebeb;
    font-size: 0.9em;
    border-radius: 3px;
    font-family: monospace;
    font-weight: 600;
}


.article-heading  {
    display: block;
    padding: 1.5em 0;
}
.article-heading > a > .ui.header {
    display: inline-block;
    margin-bottom: 0;
}

.article-heading > a > .ui.header:hover {
    text-decoration: underline;
}

.article-content code > div.highlight {
    padding: 0px 15px;
}

.article-content img {
    display: block;
    max-width: 100%;
    max-height: 30em;
    margin-left: auto;
    margin-right: auto;
}

.post-meta, .show-more {
    color: #cac8c8;
    font-style: italic;
}
.show-more {
    position: relative;
    top: -15px;
}
.article-content {
    position: relative;
}
.article-content > .buttons {
    position: absolute;
    left: -65px;
}
.fixed.menu {
    visibility: hidden;
}

.mhead .ui.header {
    margin-top: 1em;
    font-size: 4em;
}
.ui.post.segment {
    padding: 4em 0;
    border: none;
}

#fixedMenu {
    border: none;
    box-shadow: none;
    background: none;
}
#fixedMenu a {
    font-weight: bold;
}
body, p, li {
    font-size: 18px;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
}

@media only screen and (max-width:700px) {
    .article-content .buttons {
        position: relative;
        margin: 15px 0;
        bottom: 20px;
        left: 0;
    }

    .mhead.segment {
        min-height: 200px;
    }
    .mhead .ui.header {
        margin-top: 0.5em;
        font-size: 3em;
    }
    .ui.mhead.segment {
        background-size: initial;
    }
}