.error-message {
    display: none;
}



.ui.form textarea:not([rows]) {
    height: 30em;
    font-family: monospace;
}

pre.ui.segment {
    background-color: #f5f5f5;
}


body > .pusher > .ui.container {
    margin-top: 5em;
}

.editor-toolbar.fullscreen {
    z-index: 102 !important;
}

.CodeMirror{
  min-height: 100px !important;
}

.CodeMirror-code {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

span.cm-formatting.cm-formatting-code-block, .cm-comment {
    font-family: monospace;
}

@media only screen and (max-width:700px) {
    .hide-mobile {
        display: none !important;
    }
    body > .pusher > .ui.container {
        margin-top: 4em;
    }
    h1 {
        font-size: 1.5rem;
    }
}

.media-item img {
    border: solid 1px #a5a5a5;
    border-radius: 2px;
}

.media-item .filename-label {
    max-width: 200px;
    word-wrap: break-word;
}

.ui.modal > .header {
    background-color: #e8e8e8;
}