<style scoped>
    .heading h3 {
        display: inline-block;
    }
    .heading .button {
        float: right;
        position: relative;
        top: -4px;
    }
    .segment.article:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .meta {
        float: right;
        color: #cac8c8;
        font-style: italic;
    }

    .article-content {
        white-space: pre-wrap;
    }

    .article {
        overflow: hidden;
        max-height: 150px;
    }

    .article:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent 100px, white);
    }


</style>

{{#if prev}}
<div class="ui labeled icon button" onclick="Admin.selectItem('articles', '?skip={{prev}}')"
    style="margin-bottom:15px;">
    <i class="icon caret left"></i>
    Mais recentes
</div>
{{/if}}

<div class="ui segments" style="margin-top:0px">

    {{#each articles}}
    <div
        class="ui segment article"
        onclick="ConfigArticles.goTo({{id}})">
        <div class="heading">
            <h3 class="ui header">{{title}}</h2>
            <div class="meta">
                {{#each tags}}<div class="ui gray horizontal label">{{.}}</div>{{/each}}
                {{#if isDraft}}<div class="ui teal horizontal label">Rascunho</div>{{/if}}
                {{formattedDate}}
            </div>

            {{!--
            <div class="ui mini icon button">
                <i class="edit icon"></i>
                Editar
            </div>
            --}}
        </div>
        <p class="article-content">{{{ formattedContent }}}</p>
    </div>
    {{/each}}
</div>

{{#if next}}
<div class="ui right labeled icon button" onclick="Admin.selectItem('articles', '?skip={{next}}')">
    <i class="icon caret right"></i>
    Mais antigos
</div>
{{/if}}

<script>
    var exported = function() {
        window.ConfigArticles = {}
        ConfigArticles.goTo = function(id) {
            window.location.hash = ''
            window.location.pathname = '/pages/article/' + id + '/edit'
        }
    }
</script>