<style scoped>
table i.remove-tag  {
    cursor: pointer;
}

table.ui.table td.buts {
    text-align: right;
}
</style>


<div class="ui message">
    <p>Rótulos permitem a criação de listas selecionadas de artigos em temas personalidados.</p>
</div>

{{#if tags.length}}
<table class="ui table">
    <thead>
        <tr>
            <th>Rótulo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{{#each tags}}
    <tr class="row">
        <td>{{name}}</td>
        <td data-tagid="{{id}}" class="buts">
            <i class="icon remove remove-tag"></i>
        </td>
    </tr>
{{/each}}
    </tbody>
</table>
{{else}}

<p>Nenhum rótulo.</p>

{{/if}}

<script>
var exported = function() {
    $('.remove-tag').on('click', function() {
        var id = $(this).parent().attr('data-tagid')
        Site.ajaxRequest({
            method: 'DELETE' ,
            url: '/api/admin/tag/' + id
        }).then(function() {
            Admin.selectItem('tag-list')
        })
    })
}
</script>