<h2 class="ui header">{{theme.name}}</h2>

<h3>Modelos</h3>

{{#each theme.models}}

<div class="ui segment">

    <h4>{{key}}</h4>
    <table class="ui single line collapsing table">
        <tr>
            <td><b>Principal</b></td>
            <td>{{#if main}}Sim{{/if}}</td>
        </tr>
        <tr>
            <td><b>Tipo</b></td>
            <td>{{type}}</td>
        </tr>
        <tr>
            <td><b>Arquivo de modelo</b></td>
            <td>{{template}}</td>
        </tr>
        <tr>
            <td><b>Listas de dados</b></td>
            <td>
                {{#each feeds}}
                <div class="ui label">{{key}}</div>
                {{/each}}
            </td>
        </tr>
    </table>

</div>

{{/each}}