<style scoped>
.item.template {
    cursor: pointer;
    padding: 15px !important;
}

.item.template:hover {
    background-color: rgb(241,241,241)
}

.ui.modal .ui.error.message {
    display: none;
}

table i.remove-route, table i.up-route, table i.down-route  {
    cursor: pointer;
}

table.ui.table td.buts {
    text-align: right;
}
.item.template .image img {
    max-height:100px;
}
</style>

<h3 style="margin-top:0;">Modelos instalados</h3>

<div class="ui items segment">
{{#each themes}}
    <div class="ui item template" data-id="{{_reference}}">
        <div class="image">
            <img src="{{_splashImg}}"></img>
        </div>
        <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">
                {{description}}
            </div>
        </div>
    </div>
{{/each}}
</div>



<h3 style="display:inline-block">Rotas instaladas</h3>

<div style="display:inline:block;
    float:right;position:relative; top:1.5em;"
    class="ui button" id="addRouteBtn">
    Nova...
</div>

{{#if routes.length}}

<table class="ui table">
    <thead>
        <tr>
            <th>Nome id.</th>
            <th>Rota</th>
            <th>Tema</th>
            <th>Modelo</th>
            <th>Principal?</th>
            <th>Param.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{{#each routes}}
    <tr class="row">
        <td>{{name}}</td>
        <td>{{route}}</td>
        <td>{{_theme.name}}</td>
        <td>{{_model.name}}</td>
        <td>{{yesno main}}</td>
        <td>{{_qs}}</td>
        <td data-routeid="{{id}}" class="buts">
            <i class="icon caret up up-route"></i>
            <i class="icon caret down down-route"></i>
            <i class="icon remove remove-route"></i>
        </td>
    </tr>
{{/each}}
    </tbody>
</table>
{{else}}

<p>Nenhuma rota.</p>

{{/if}}

<script>
var $THEMES = {{{@root.themejson}}}
$(function(){

$('.item.template').on('click', function(){
    var reference = $(this).attr('data-id')
    if (!reference) return
    Admin.selectItem('theme-detail', '?ref=' + reference)
})



$('#addRouteBtn').on('click', function() {
    // type: Model (+ theme info) []
    var count = 0
    var allModels = $THEMES.map(function(theme) {
        return theme.models.map(function(model) {
            model.ref = count++
            model._themeRef = theme._reference
            model._themeName = theme.name
            return model
        })
    }).reduce(function(prev,current) {
        prev = prev.concat(current)
        return prev
    }, [])
    console.log('allmodels', allModels)

    var $modal = Site.emptyModalElement()
    var $form = $(
        '<form class="ui form">'
        + '    <div class="ui error message"></div>'
        + '    <div class="fluid required field">'
        + '        <label>Nome identificador</label>'
        + '        <input type="text" name="name"/>'
        + '    </div>'
        + '    <div class="fluid required field">'
        + '        <label>Caminho</label>'
        + '        <input type="text" name="route"/>'
        + '    </div>'
        + '    <div class="fluid required field">'
        + '        <label>Modelo</label>'
        + '        <select name="_model"></select>'
        + '    </div>'
        + '    <div class="fluid field">'
        + '        <label>Principal?</label>'
        + '        <div class="ui checkbox">'
        + '            <input type="checkbox" name="main"/>'
        + '        </div>'
        + '    </div>'
        + '    <div class="fluid field">'
        + '        <label>Sobrescrever parâmetros</label>'
        + '        <input type="text" name="param"/>'
        + '    </div>'
        + '</form>'
    )
    $form.find('.ui.checkbox').checkbox()
    $form.find('select').append( allModels.map(function(model){
        return '<option value="' + model.ref + '">' +
            model._themeName + " - " + model.name +
            "</option>"
    }))
    $form.find('select').dropdown()

    Site.jsonForm( $form[0], {
        url : '/api/admin/route' ,
        method: 'POST' ,
        submitBtn: $modal.find('.active-submit') ,
        editData: function(dataz) {
            var model = allModels.filter(function(model){
                return model.ref == dataz._model
            })[0]
            return {
                name : dataz.name ,
                route : dataz.route ,
                theme : model._themeRef ,
                model : model.key ,
                param : dataz.param ,
                main : dataz.main
            }
        } ,
        callback: function() {
            Admin.selectItem('theme-list')
            $modal.modal('hide')
        }
    })

    $modal.addClass("small")
    $modal.find('.content').append($form)
    $modal.modal({
        onApprove: function($element) {
            return false
        }
    })
    $modal.modal('show')
})


$('.remove-route').on('click', function() {
    var id = $(this).parent().attr('data-routeid')
    Site.ajaxRequest({
        url: '/api/admin/route/' + id,
        method: 'DELETE'
    }).then( function(){
        Admin.selectItem('theme-list')
    })
})

$('.up-route').on('click', function() {
    var id = $(this).parent().attr('data-routeid')
    Site.ajaxRequest({
        url: '/api/admin/route-up/' + id,
        method: 'GET'
    }).then( function(){
        Admin.selectItem('theme-list')
    })
})

$('.down-route').on('click', function() {
    var id = $(this).parent().attr('data-routeid')
    Site.ajaxRequest({
        url: '/api/admin/route-down/' + id,
        method: 'GET'
    }).then( function(){
        Admin.selectItem('theme-list')
    })
})


$('#paramHelp').popup()

})
</script>