<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="ui container">

    <h1 style="display:inline-block">Editando artigo</h1>

    <div style="display:inline-block;float:right;" class="hide-mobile">
        <div class="ui message" style="display:flex;align-items:center;">
            <p style="flex-grow:1;margin:0 15px 0 0;">
                Os posts usam o <span style="font-weight:bold">markdown</span> para formatação.
            </p>
            <div class="ui button"
                onclick="window.open('/assets/markdown-guide.html')">
                Como usar o markdown
            </div>
        </div>
    </div>

    <form
        class="ui form"
        name="articleForm"
        data-url="/api/article/{{article.id}}"
        data-method="PUT">

        <div class="ui message error">
            <i class="close icon"></i>
            <div class="header">
                Erro.
            </div>
            <p></p>
        </div>

        <input type="hidden" value="{{article.id}}" name="id">

        <div class="field">
            <label>Título</label>
            <div class="ui right labeled input">
                <input type="text" name="title" value="{{article.title}}">
                <div class="ui label icon button post-options">
                    <i class="icon ellipsis horizontal"></i>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Conteúdo</label>
            <textarea name="content" id="mdContent">{{article.content}}</textarea>
        </div>

        <input type="hidden" name="status" value=""></input>

        <div class="ui buttons submitter">
            <div class="ui button active-submit"></div>
            <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-id="publish"><i class="check icon"></i>Publicar</div>
                    {{#if article.draft}} <div class="item" data-id="draft"><i class="hide icon"></i>Salvar como rascunho</div>{{/if}}
                </div>
            </div>
        </div>

        <a href="{{{link "model" "slink" "slink" article.slink "id" article.id}}}"" class="ui labeled icon button">
            <i class="unhide icon"></i>
            Ver post
        </a>

        <a href="#" class="ui button" onclick="Site.goBack()">Cancelar</a>


        <div
            onclick="deletePost()"
            class="ui labeled icon button basic red right floated">
            <i class="icon trash"></i>
            Excluir
        </div>
        <div
            id="revertBtn"
            class="ui labeled icon button basic right floated">
            <i class="icon backward"></i>
            Reverter
        </div>

    </form>

</div>

<script>
$(function() {

    var __toset = {
        created : '{{article.created}}' ,
        markdown_break : '{{article.markdown_break}}' ,
        taglist : JSON.parse(unescape('{{{taglist}}}')),
        customFields : JSON.parse(unescape('{{customFields}}'))
    }

    var editor = new SimpleMDE(
        Editor.defaultMDEConfig(document.getElementById('mdContent'))
    )
    Editor.editorHack(editor)
    var isDraft = '{{article.status}}' == 'draft'
    Editor.initSubmitter($('.submitter'), isDraft, articleForm)
    Editor.localDraft( editor, '{{article.edited}}', '{{article.id}}', '{{noLocalDraft}}')
    $('.post-options').on('click', function(){
        Editor.PostOptions.show( __toset )
    })


    window.deletePost = function() {
        var id = articleForm.id.value

        Site.confirmModal({
            title : 'Excluir este post' ,
            text: 'Confirma?'
        }, function() {
            $.ajax({
                method : 'DELETE' ,
                url : '/api/article/' + id
            }).then(() => {
                Site.goBack()
            })
            .catch( function(err) {
                $('.ui.message.error')
                    .html('<p>' + (err.message || err.responseText) + '</p>')
                    .show()
                $('body').animate({scrollTop:0},1000)
            })
        })
    }

    Site.jsonForm(articleForm, {
        editData : function(data) {
            data.content = editor.value()
            var selectedTags = __toset.taglist.filter(function(tag) {
                return tag.selected
            }).map(function(tag){
                return tag.id
            })
            var custom_fields = Object.keys(__toset.customFields).reduce(function(out, key){
                var item = __toset.customFields[key] || {}
                out[key] = item.value
                return out
            }, {})
            jQuery.extend(data, __toset, {
                selectedTags : selectedTags ,
                custom_fields : custom_fields
            })
            return data
        }
    })


})
</script>