<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

<div class="ui container">

    <h1 style="display:inline-block">{{title}}</h1>

    <div style="display:inline-block;float:right;" class="hide-mobile">
        <div class="ui message" style="display:flex;align-items:center;">
            <p style="flex-grow:1;margin:0 15px 0 0;">
                Os posts usam o <span style="font-weight:bold">markdown</span> para formatação.
            </p>
            <div class="ui button"
                onclick="window.open('/assets/markdown-guide.html')">
                Como usar o markdown
            </div>
        </div>
    </div>
    <form
        class="ui form"
        name="articleForm"
        data-url="/api/article"
        data-method="POST"
    >

        <div class="ui message error">
            <i class="close icon"></i>
            <div class="header">
                Erro.
            </div>
            <p></p>
        </div>

        <div class="field">
            <label>Título</label>
            <div class="ui right labeled input">
                <input type="text" name="title" value="{{article.title}}">
                <div class="ui label icon button post-options">
                    <i class="icon ellipsis horizontal"></i>
                </div>
            </div>
        </div>

        <div class="field" style="display:none;">
            <label>Fonte</label>
            <select name="source">
                <option value="mysql">Padrão</option>
                <option value="git">Importar arquivo markdown do Github</option>
            </select>
        </div>

        <div class="three fields git-field" style="display:none;">
            <div class="field">
                <label>Usuário</label>
                <input type="text" name="githubUser"/>
            </div>
            <div class="field">
                <label>Repositório</label>
                <input type="text" name="githubRepo"/>
            </div>
            <div class="field">
                <label>Caminho</label>
                <div class="ui action input">
                    <input type="text" name="githubPath" placeholder="caminho/arquivo.md"/>
                    <div class="ui button" id="gitVerify">Buscar</div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Conteúdo</label>
            <textarea name="content">{{article.content}}</textarea>
        </div>

        <input type="hidden" name="status" value=""></input>


        <div class="ui buttons submitter">
            <div class="ui button active-submit"></div>
            <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-id="publish"><i class="check icon"></i>Publicar</div>
                    <div class="item" data-id="draft"><i class="hide icon"></i>Salvar como rascunho</div>
                </div>
            </div>
        </div>

        <!-- <input type="submit" class="ui button primary" value="Salvar"/> -->
        <a href="#" class="ui button" onclick="Site.goBack()">Cancelar</a>

    </form>
</div>

<script>
$(function(){
    var __toset = {
        markdown_break : '1',
        taglist : JSON.parse(unescape('{{taglist}}')),
        customFields : JSON.parse(unescape('{{customFields}}'))
    }

    $('select').dropdown()
    var editor = new SimpleMDE(
        Editor.defaultMDEConfig(articleForm.content)
    )
    window.editor = editor
    Editor.editorHack(editor)
    Editor.initSubmitter($('.submitter'), true, articleForm)
    Editor.localDraft(editor)
    $('.post-options').on('click', function(){
        Editor.PostOptions.show( __toset )
    })


    //git source extra field
    /*
    var gitField = articleForm.querySelector('.git-field')
    function gitFieldDisplay(ev) {
        gitField.style.display = (this.value === 'git') ?
            'flex' : 'none'
    }
    gitFieldDisplay()
    articleForm.source.addEventListener('change', gitFieldDisplay)
    */

    document.getElementById('gitVerify')
        .addEventListener( 'click' , function(event) {
            var that = this
            this.innerHTML = 'Verificando...'
            var _owner = articleForm.githubUser.value
            var _repository = articleForm.githubRepo.value
            var _path = articleForm.githubPath.value

            if (!_owner || !_repository || !_path) return

            Site.ajaxRequest({
                method: 'GET',
                url: 'https://api.github.com/repos/' + _owner + '/' +  _repository + '/contents/' + _path ,
                body: {}
            })
            .then( function(resp) {
                //articleForm.content.value = atob(resp.content)
                return Site.ajaxRequest({
                    url : '/api/article/github-utf8' ,
                    method: 'POST' ,
                    body: resp
                })
            })
            .then( function(resp) {
                 articleForm.content.value = decodeURIComponent(unescape(atob(resp.content)))
            })
            .catch( function(err) {
                $(articleForm).find('.ui.message.error')
                    .html('<p>Erro.</p>')
                    .show()
                $('html, body').animate({scrollTop:0},1000);
            })
            .then( function() {
                that.innerHTML = 'Buscar'
            })
        })


    Site.jsonForm(articleForm, {
        editData : function(data) {
            data.content = editor.value()
            var selectedTags = __toset.taglist.filter(function(tag) {
                return tag.selected
            }).map(function(tag){
                return tag.id
            })
            var custom_fields = Object.keys(__toset.customFields).reduce(function(out, key){
                var item = __toset.customFields[key] || {}
                out[key] = item.value
                return out
            }, {})
            data = jQuery.extend(data, __toset, {
                selectedTags : selectedTags,
                custom_fields : custom_fields
            })
            return data
        }
    })

    articleForm.addEventListener('submit', function(event) {
        let mandatory = ['title', 'source']
        if (this.source.value == 'git') mandatory.push('githubUser', 'githubRepo', 'githubPath')
        var missing = false
        for ( var it in mandatory ) {
            var field = mandatory[it]
            var $parent = Site.findParentField(this[field])
            if (!this[field].value) {
                missing = true
                $parent.addClass('error')
            } else {
                $parent.removeClass('error')
            }
        }

        if (missing) {
            event.preventDefault()
            $(articleForm).find('.ui.message.error')
                 .html('<p>Preencha todos os campos obrigatórios.</p>')
                 .show()
            $('html, body').animate({scrollTop:0},1000);
            return
        }
    })

})
</script>