<style>
.ui.mhead.segment {
    min-height: 300px;
    background-image: url({{{ themeresource "img/bg1.jpg" }}});
    background-size: 100%;
    background-position: center;
}

@media only screen and (max-width:700px) {
    .ui.mhead.segment {
        background-size: initial;
    }
}
</style>


<div class="ui inverted vertical left aligned segment mhead">

    <div class="ui borderless inverted menu" id="fixedMenu">
        {{> top-menu}}
    </div>

    <div class="ui text container">
        <a href="/">
        <h1 class="ui inverted header">
            {{$blogTitle}}
        </h1>
        </a>
        <h2>{{$blogSubtitle}}</h2>
    </div>
</div>

<div>


{{> v-list-partial}}


    <div class="ui vertical borderless segment infinite-s">
        <div class="ui text container segment" style="text-align: center;height:3em;">
            <div class="ui dimmer">
                <div class="ui loader"></div>
            </div>
        </div>
    </div>

</div>